---
import Container from "./Container.astro"

---

<div class="relative" id="home">
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
        <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
        <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
    </div>
    <Container>
        <div class="relative pt-36 ml-auto">
            <div class="lg:w-2/3 text-center mx-auto">
                <h1 class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl">Simulating the Riddle of  <a href="https://en.wikipedia.org/wiki/100_prisoners_problem" class="text-primary dark:text-white">100 Prisoners.</a></h1>
                <p class="mt-8 text-gray-700 dark:text-gray-300">I've developed a simulator for the 100 prisoners problem (optimal solution), which allows you to interactively explore different strategies and see how they impact the prisoners' chances of success in this challenging thought experiment.</p>
                <p class="mt-2 font-bold text-gray-700 dark:text-gray-300">Watch the video to understand the riddle or see learn more.</p>
                <div class="mt-6 flex flex-wrap justify-center gap-y-4 gap-x-6">
                    <a
                      href="/visual"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                    >
                      <span class="relative text-base font-semibold text-white"
                        >Get started</span
                      >
                    </a>
                    <a
                      href="#features"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max"
                    >
                      <span
                        class="relative text-base font-semibold text-primary dark:text-white"
                        >Learn more</span
                      >
                    </a>
                </div>
                
            </div>
            <br>
            <div class="flex items-center w-full col-span-6">
              <div class="px-6 h-96 lg:h-100% w-full max-w-2xl col-span-6 flex items-center mx-auto">
                  <div style="width: 100%; height: 100%;">
                      <div style="width: 100%; height: 100%;">
                          <iframe class="grow flex-1 rounded-lg span-col-2" frameborder="0" allowfullscreen="1"
                              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                              width="100%" height="100%"
                              src="https://www.youtube.com/embed/iSNsgj1OCLA?autoplay=0&amp;mute=0&amp;controls=0&"
                              id="widget2">
                          </iframe>
                      </div>
                  </div>
              </div>
          </div>
          
        </div>
    </Container>
</div>