@tailwind base;
@tailwind components;
@tailwind utilities;
  
/* width 
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track 
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
/* Handle 
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
  
/* Handle on hover 
::-webkit-scrollbar-thumb:hover {
    background: #555;
}*/

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #9333ea #e9e2e2;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 9px;
  }

  *::-webkit-scrollbar-track {
    background: #e9e2e2;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #9333ea;
    border-radius: 18px;
    border: 2px solid #f2f2f2;
  }