---
import Container from "./Container.astro";
import { Image } from 'astro:assets';
import searchimg from '../../public/search.png';
---

<div id="solution">
    <Container>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-sky-500">
        <path fill-rule="evenodd" d="M2.25 13.5a8.25 8.25 0 018.25-8.25.75.75 0 01.75.75v6.75H18a.75.75 0 01.75.75 8.25 8.25 0 01-16.5 0z" clip-rule="evenodd" />
        <path fill-rule="evenodd" d="M12.75 3a.75.75 0 01.75-.75 8.25 8.25 0 018.25 8.25.75.75 0 01-.75.75h-7.5a.75.75 0 01-.75-.75V3z" clip-rule="evenodd" />
      </svg>
      
      <div class="space-y-6 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center">
        <div class="flex flex-col items-center md:5/12 lg:w-1/2">
          
          <Image src={searchimg} alt="Visualization of the prisoners." loading="lazy"/>

          <div class="flex flex-row">
            <p class="italic">Source:  </p>
            <a class="px-1 italic underline underline-offset-2" href="http://datagenetics.com/blog/december42014/index.html"> Datagenetics </a>
          </div>
        </div>
        
        <div class="md:7/12 lg:w-1/2">
          <h2 class="text-3xl font-bold text-gray-900 md:text-4xl dark:text-white">
            Optimal Solution
          </h2>
          <p class="my-8 text-gray-600 dark:text-gray-300">
            The strategy is amazingly simple. First of all you open up the box corresponding to your own number. If you find your ticket, great!, if not you look up the number on the ticket in your box and that is the box your check next. You carry on this strategy … daisy-chaining your way through the boxes. That's it!
             <br> <br>31.18% of the time, the length of the maximum chains formed will be less than 50 boxes and so every prisoner will be able to find his ticket before hitting the 50 box limit.
          </p>
          <h2 class="text-lg font-bold text-primary dark:text-white">
            The probability of all the prisoners getting their ticket is</h2> <h2 class="italic text-xl font-bold text-primary dark:text-white"> 31.18% </h2><h2 class="text-lg font-bold text-primary dark:text-white">with this stratergy!
          </h2>
            </div> 
          </div>
        </div>
      </div>
    </Container>
</div>
